parameters:
    ignoreErrors:
        -
            identifier: haspadar.constructorInit
        -
            identifier: haspadar.noPublicStatic
        -
            identifier: haspadar.noPhpdocOverride
        -
            identifier: haspadar.booleanComplexity
        -
            identifier: haspadar.returnCount
        -
            identifier: haspadar.cyclomaticComplexity
        -
            identifier: haspadar.parameterName
        -
            identifier: haspadar.noNullReturn
        -
            identifier: haspadar.lackOfCohesion
            paths:
                - src/Rules/CouplingBetweenObjectsRule.php
                - src/Rules/MethodLengthRule.php
