services:
    -
        class: Haspadar\PHPStanRules\Rules\MethodLengthRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\FileLengthRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\TooManyMethodsRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ParameterNumberRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\CyclomaticComplexityRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\CouplingBetweenObjectsRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\BooleanExpressionComplexityRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\StatementCountRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\FinalClassRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\MutableExceptionRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ReturnCountRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ProtectedMethodInFinalClassRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ProhibitPublicStaticMethodsRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ConstructorInitializationRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\NoParameterReassignmentRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\IllegalCatchRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\IllegalThrowsRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\InnerAssignmentRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\ModifiedControlVariableRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\PhpDocPunctuationClassRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\PhpDocPunctuationMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\PhpDocEmptyClassRule
        tags:
            - phpstan.rules.rule
    -
        class: Haspadar\PHPStanRules\Rules\PhpDocEmptyMethodRule
        tags:
            - phpstan.rules.rule
